.products {
    display: flex;
    align-items: center;

    overflow-x: auto;

    padding: 5px;
}

/*Media Queries*/
@media screen and (min-width: 757px){
  .products {
    width: 100%;
  
    align-items: center;
    flex-wrap: wrap;
  
    overflow-x: clip;
  
    padding: 5px;
  } 
}