* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

header {
  height: 55px;
  width: 100vw;

  display: flex;
  justify-content: space-around;

  padding: 10px;
}

.interface {
  display: flex;
}

main {
  width: 69%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

aside {
  width:29%;
}