.cartProduct {
    width: 100%;
    height: 80px;

    display: flex;

    margin-bottom: 21px;
}

.cartProduct figure {
    background-color: #E0E0E0;
    border-radius: 5px;

    width: 80px;
    height: 80px
}

.cartProduct img {
    width: 100%;
}

.cartProductInfo h3 {
    color: #333333;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    width: 60%;
}

.cartProductInfo span {
    color: #828282;
    font-weight: 400;
    font-size: 12px;
}

.cartProductInfo button {
    background-color: inherit;
    color:#BDBDBD;
    border: none;

    cursor: pointer;
}

.cartProductInfo button:hover {
    color: #333333;
    text-decoration-line: underline;
}

.cartProductInfo {
    display: flex;
    flex-direction: column;

    margin:0 0 26px 7px;

    text-align: start;

    width: 78%;
}

.cartProductInfo div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (min-width: 426px) {
    .cartProduct {
        max-width: 343px;
        height: 80px;
    
        display: flex;
    
        margin-bottom: 21px;
    }
}